<!-- <p>
  dashboard works!
</p>
  <div>
    <canvas id="canvas" width="400" height="400">{{chart}}</canvas>
  </div>
  <div>
      <canvas id="canvass" width="400" height="400">{{chartt}}</canvas>
  </div> -->

  <mat-card class="example-card">
      <mat-card-title>Grafica de Barras</mat-card-title>
      <mat-divider></mat-divider>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
          <div>
              <canvas id="canvas" width="1155px" height="400px">{{chart}}</canvas>
            </div>
      </mat-card-content>
    </mat-card>
      <div class="test">
          <mat-card class="example-cardd">
              <mat-card-title>Grafica Doughnut</mat-card-title>
              <mat-divider></mat-divider>
              <mat-card-content>
                  <div>
                      <canvas id="doughnut" width="670px">{{chartt}}</canvas>
                  </div>
              </mat-card-content>
            </mat-card>
          <mat-card class="example-carddd">
              <mat-card-title>Grafica Pie</mat-card-title>
              <mat-divider></mat-divider>
              <mat-card-content>
                  <div>
                      <canvas id="pie" width="800px">{{pie}}</canvas>
                    </div>
              </mat-card-content>
            </mat-card>
      </div>
      