<aside *ngIf="showSideNav" class="left-sidebar animated bounceInLeft">
    <ul  class="list-items">
        <li>
            <button mat-button (click)="showDashboard = !showDashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
        </li>
        <mat-divider></mat-divider>
        <div *ngIf="showDashboard">
            <li>
                <button mat-button style="text-align: center;">Grafica</button>
            </li>
            <mat-divider></mat-divider>
        </div>
        <li>
            <button mat-button (click)="showServices = !showServices" >
                <mat-icon>business</mat-icon>
                <span>Services</span>
            </button> 
        </li>
        <mat-divider></mat-divider>
        <div *ngIf="showServices">
            <li>
                <button mat-button style="text-align: center;">Services</button>
            </li>
        </div>
    </ul>
</aside>