.left-sidebar {
    padding: 0px;
    width: 140px;
    height: 100%;
    color: #606161;
    /* background-color: #F2F2F2; */
  }

.list-items{
    margin: 0%;
    padding: 0%;
    justify-content:flex-start;
}

.list-items li button{
    text-align: initial;
    width: 100%;
    color: #004B77;
}

.list-items .list-subitems{
    width: 100%;
    list-style: none;
    display: block;
}



